{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.xml",
      "options": {
        "xmlSelfClosingSpace": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
